<!DOCTYPE html>
<html lang="en">

<%- include('../.Partials/header') %>
<body>
    <script>
        if(localStorage.getItem('role')!=1){
            window.location.replace('/home')
        }
        function update(id) {
            let role=document.getElementById("role#"+id).value;
            fetch("/user/update",{
                method:'POST',
                headers:{
                    'Content-Type': 'application/json;charset=utf-8'
                },
                body: JSON.stringify({id:id,role:role})
            }).then(response=>response.json())
            .then((data)=>{
                if(data.error){
                    console.log(data.error);
                }
                if(data.status==1){
                    window.location.reload();
                }
            }).catch((err)=>{
                console.log(err);
            })
        }
    </script>
    <%- include('../.Partials/nav') %>
    <div class="content">
        <!-- component -->
        <section class="container mx-auto p-6 font-mono">
            <div class="w-full mb-8 overflow-hidden rounded-lg shadow-lg">
            <div class="w-full overflow-x-auto">
                <table class="w-full">
                <thead>
                    <tr class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600">
                    <th class="px-4 py-3">Name</th>
                    <th class="px-4 py-3">Role</th>
                    <th class="px-4 py-3">Status</th>
                    <th class="px-4 py-3">Action</th>
                    </tr>
                </thead>
                <tbody class="bg-white bg-opacity-50">
                    <%  let role={
                            1:"Admin",
                            2:"Faculty",
                            3:"Student",
                            4:"Guest"
                        };
                        let status={
                            0:"Inactive",
                            1:"Active"
                        };
                        let color={
                            0:"text-red-700 bg-red-100",
                            1:"text-green-700 bg-green-100"
                        };
                    %> 
                    <% users.forEach(user => { %>
                        <tr class="text-gray-700">
                            <td class="px-4 py-3 border">
                                <div class="flex items-center text-sm">
                                <div class="relative w-8 h-8 mr-3 rounded-full md:block">
                                    <img class="object-cover w-full h-full rounded-full" src="https://images.pexels.com/photos/5212324/pexels-photo-5212324.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="" loading="lazy" />
                                    <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
                                </div>
                                <div>
                                    <p class="font-semibold text-black"><%= user.name %></p>
                                </div>
                                </div>
                            </td>
                            <td class="px-4 py-3 text-ms font-semibold border">
                                <select name="role" id="role#<%= user.id %>">
                                    <option value="<%= user.role %>"><%= role[user.role] %> (Current) </option>
                                    <option value="1">Admin</option>
                                    <option value="2">Faculty</option>
                                    <option value="3">Student</option>
                                    <option value="4">Guest</option>
                                </select>
                            </td>
                            <td class="px-4 py-3 text-xs border">
                                <span class="px-2 py-1 font-semibold leading-tight <%= color[user.status] %>  rounded-sm"> <%= status[user.status]%> </span>
                            </td>
                            <td class="px-4 py-3 text-sm border">
                                <a class="text-green-500 hover:text-green-100 mr-2" onclick="update('<%= user.id %>')" title="Update Role">
                                    <i class="fas fa-upload" ></i>
                                </a>
                                <a href="/user/<%= user.id %>" class="text-yellow-400 hover:text-gray-100 mx-2" title="View And Edit User">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                <a href="/user/delete/<%= user.id %>"class="text-red-400 hover:text-gray-100 ml-2" title="Delete User">
                                    <i class="fas fa-trash-alt"></i>                
                                </a>
                            </td>
                        </tr>
                    <% }); %> 
                    
                </tbody>
                </table>
            </div>
            </div>
        </section>
    </div>
    <%- include('../.Partials/footer') %>
     
</body> 
</html>