<!DOCTYPE html>
<html lang="en">

<%- include('../.Partials/header') %>
<body>
    <script>
        if(localStorage.getItem('role')>2){
            window.location.replace('/home')
        }
    </script>
    <%- include('../.Partials/nav') %>
    <div class="content">
        <!-- component -->
        <section class="container mx-auto p-6 font-mono">
            <div class="w-full mb-8 overflow-hidden rounded-lg shadow-lg">
            <div class="w-full overflow-x-auto">
                <table class="w-full">
                <thead>
                    <tr class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600">
                    <th class="px-4 py-3">ID</th>
                    <th class="px-4 py-3">Name</th>
                    <th class="px-4 py-3">Course Id</th>
                    <th class="px-4 py-3">Roll No.</th>
                    <th class="px-4 py-3">Action</th>
                    </tr>
                </thead>
                <tbody class="bg-white bg-opacity-50">
                    <%  let branch={
                            "cs":"Computer Science",
                            "it":"Information Technology",
                            "entc":"Electronic and Telecommunication Engineering"
                        };
                        let color={
                            0:"text-red-700 bg-red-100",
                            1:"text-green-700 bg-green-100"
                        };
                    %>
                    
                    <% Students.forEach(student => { 
                      
                    %>
                        <tr class="text-gray-700">
                            <td class="px-4 py-3 border">
                                <div class="flex items-center text-sm">
                                  <p class="font-semibold text-black"><%= student.id %></p>
                                </div>
                            </td>
                            <td class="px-4 py-3 text-ms font-semibold border">
                                <div class="flex items-center text-sm">
                                    <input type="text" class="font-semibold text-black" id="name#<%= student._id %>" name="name" value="<%= student.fname+" "+student.mname+" "+student.lname %>" >
                                </div>
                            </td>
                            <td class="px-4 py-3 text-ms font-semibold border">
                                <div class="flex items-center text-sm">
                                    <p class="font-semibold text-black"><%= student.courseId %></p>
                                </div>
                            </td>
                            <td class="px-4 py-3 text-ms font-semibold border">
                                <div class="flex items-center text-sm">
                                    <input type="text" class="font-semibold text-black" id="rollNo#<%= student._id %>" name="rollNo" value="<%= student.rollNo %>" >
                                  </div>
                            </td>
                            <td class="px-4 py-3 text-sm border">
                                <a class="text-green-500 hover:text-green-100 mr-2" onclick="update('<%= student._id %>')" title="Update Role">
                                    <i class="fas fa-upload" ></i>
                                </a>
                                <a href="/student/delete/<%= student._id %>"class="text-red-400 hover:text-gray-100 ml-2" title="Delete User">
                                    <i class="fas fa-trash-alt"></i>                
                                </a>
                            </td>
                        </tr>
                    <% }); %> 
                    
                </tbody>
                </table>
            </div>
            </div>
        </section>
    </div>
    <%- include('../.Partials/footer') %>
    <script>
        
        function update(id) {
            let rollNo=document.getElementById("rollNo#"+id).value;
            let name=document.getElementById("name#"+id).value;
            fetch("/student/update",{
                method:'POST',
                headers:{
                    'Content-Type': 'application/json;charset=utf-8'
                },
                body: JSON.stringify({id:id,rollNo:rollNo,name:name})
            }).then(response=>response.json())
            .then((data)=>{
                if(data.error){
                    console.log(data.error);
                }
                if(data.status==1){
                    window.location.reload();
                }
            }).catch((err)=>{
                console.log(err);
            })
        }
    </script> 
</body> 
</html>